*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'poppins' , sans-serif;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}
.header.logo{
    font-size: 1.7em;
    color:#fff;
    text-decoration: none;

}
.nav a {
    position: relative;
    font-size: 1.1em;
    color: #fff;
    text-decoration: none;
    margin-left: 40px;
}
.nav ::after {
    content: '';
    position: absolute;
    left:0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform: scaleX(0);
    transition: .5s;
}
.nav a:hover::after {
    transform: scaleX(1);
}
.home {
    position: relative;
    width: 100%;
    height: 100vh;
    background: url('background.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 100px 0;

}
.home .content {
    max-width: 600px;
    color: #fff;
}
.content h2 {
    font-size: 3em;
    letter-spacing: .03em;
}
.content p {
    margin: 10px 0 40px;
}
.content a {
    color:#fff;
    text-decoration: none;
    border: 2px solid #fff;
    font-weight: 500;
    padding: 10px 40px;
    border-radius: 40px;
    transition: .5s;
}
.content a:hover {
    background: #1e0b04;

}
 .home .wrapper-login {
    position:relative;
    width: 440px;
 }
.wrapper-login h2 {
    font-size: 2em;
    color:#fff;
    text-align: center;
}
.wrapper-login .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 40px;
}
.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: 1px solid #fff;
    outline: none;
    border-radius: 40px;
    font-size: 1em;
    color: #fff;
    padding: 0 25px 0 45px;
}
 .input-box label {
    position: absolute;
    top: 50%;
    left: 45px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #fff;
    pointer-events: none;
    transition: .5s;
 }
 .input-box input:focus~label,
 .input-box input:valid~label{
    font-size: .8em;
    top: -14px;
    left: 17px;
 }
.input-box .icon {
    position: absolute;
    top: 14px;
    left: 15px;
    font-size: 1.2em;
    color: #fff;
}
.wrapper-login .remember-forgot {
    font-size: .9em;
    color: #fff;
    margin: -25px 0 15px;
    display: flex;
    justify-content: space-between;
}
.remember-forgot label input {
    accent-color: #1e0b04;
    margin-right: 3px;
}
.remember-forgot a {
    color: #fff;
    text-decoration: none;
}
.remember-forgot a:hover {
    text-decoration: underline;
}
.wrapper-login .btn {
    width: 100%;
    height: 50px;
    border: none;
    outline: none;
    border-radius: 40px;
    background: linear-gradient(90deg, #1e0b04,#71412a);
    box-shadow: 0 8px 10px rgba(0, 0,0, .5);
    cursor: pointer;
    font-size: 1em;
    color: #fff;
    font-weight: 500;
}
.wrapper-login .register-link  {
    font-size: .9em;
    color: #fff;
    text-align: center;
    margin: 30px 0;
}
.box{
    color: #1e0b04;
}






.about-img img{
    border-radius: 5px;
    position: relative;
    width: 100%;
    height: 100vh;
    background: url('background2.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 100px 0;
}
.about-text h1{
    font-size: 80px;
    text-transform: uppercase;
    font-weight: 600;
    color:#fff;
}
.about-text p{
    font-size: 20px;
    margin: 50px; 

}











.body{
    font-size: 15px;
    line-height: 1.52;
    color: #717f86;
    font-family: 'open',  sans-serif;
    font-weight: 400;
    overflow-x: hidden;
}
.section-padding{
    padding:60px 0px;
}
.marb-35{
    margin-bottom: 35px;
}
.header-h{
    font-size: 35px;
    color: #ffb03b;
    font-family:' satisfy',sans-serif ;
    font-weight: 300;
}
#menu-flters ul li{
    display: inline-block;
    color: #ffb03b;
    text-transform: capitalize;
    letter-spacing: 1px;
    margin-bottom: 40px;
}
#menu-flters ul li a{
    padding: 10px 20px;
    font-size: 14px;
    color: #565656;
    border-radius: 0px;
    border: 1px solid #BBBBBB;
    text-decoration: none;
    cursor: pointer;
}
#menu-flters ul li a.active , #menu-flters ul li a :hover{
    background: #a52a2a;
    color: #fff;
    border:1px solid #a52a2a
}
.menu-cafe{
    width: 50%;
    float: left;
    padding: 15px;
    position: relative;
}
.menu-cafe.menu-tittle{
    float: left;
    font-family: Montserrat,arial;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #a52a2a;
}
.menu-cafe .menu-Line{
    position: absolute;
    bottom: 6px;
    border-bottom: 1px dotter rgba(0,0,0,.3);
    margin-left: .6rem;
    margin-right: .6rem;
}
.menu-cafe.menu-price{
    font-weight: 600;
    position: absolute;
    right: 0;
    top: 0;
}
.menu-cafe span.clearfix{
    position: relative;
    display: block;
}








